.content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'idea-card idea-card idea-card';
}

.image-wrapper img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.text-wrapper{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    height: 30vh;
}

.idea-card{
    padding: 30px;
    border: 1px solid rgb(105, 105, 105);
}

.idea-card:hover{
    border: 1.5px solid white;
    cursor: pointer;
    color: white;
}

.idea-card:hover img{
    transform: scale(1.1);
}