.page-title{
    font-size: 5.5vw;
    padding-left: 2vw;
    margin-bottom: 42vh;
    color: white;
}

.page-title p{
    margin-top: 0;
}

.top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 2vw 0 2vw;
}

.menu-icon{
    width: 45px;
    pointer-events: none;
}

.buttons a:hover object {
    filter: brightness(0) saturate(100%) invert(100%) sepia(62%) saturate(2445%) hue-rotate(14deg) brightness(106%) contrast(95%); 
}
/* https://angel-rs.github.io/css-color-filter-generator/ */

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.buttons a{
    border: none;
    outline: none;
    padding: 0;
    background: transparent;
}

.buttons button{
    outline: none;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 50px;
    background-color: rgb(209, 248, 36);
    transition-duration: 0.5s;
}

.buttons button:hover{
    border: 1px solid rgb(209, 248, 36);
    background-color: black;
    color: white;
    cursor: pointer;
}

@media (max-width: 768px) {
    .page-title {
        font-size: 7vw;
        margin-bottom: 30vh;
    }
    .top-bar {
        flex-direction: column;
        align-items: center;
    }
    .buttons {
        gap: 2vw;
    }
}

@media (max-width: 480px) {
    .page-title {
        font-size: 9vw;
        margin-bottom: 20vh;
    }
    .menu-icon {
        width: 35px;
    }
}